<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-android-widget" version="0.0.1">
    <name>Android Widget Plugin</name>
    <description>Cordova Android Widget Plugin</description>
    <license>MIT</license>
    <keywords>cordova,android,widget</keywords>

    <js-module src="www/widget.js" name="widget">
        <clobbers target="cordova.plugins.androidWidget" />
    </js-module>

    <platform name="android">
        
    </platform>
</plugin>
